{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hair By Sophie MK{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo">
        <a href="{% url 'home' %}">Hair By Sophie MK</a>
      </div>
      <span class="menu-toggle" onclick="toggleMenu()">☰</span>
      <div class="nav-links" id="navLinks">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'gallery' %}">Gallery</a>
        <a href="{% url 'about_us' %}">About us</a>
        <a href="{% url 'services' %}">Our Services</a>
        <a href="{% url 'contact' %}">Contact us</a>
        <a href="{% url 'book' %}">Book your appointments</a>
      </div>
    </nav>

    <!-- Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Hair By Sophie MK. All rights reserved. <a href="{% url 'contact' %}">Contact Us</a></p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
